@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
}

.container {
    background-color: #C4E0AC;
    width: 100%;
    height: 90vh;
    border-radius: 30px;
    box-shadow: 10px 10px 15px gray;
    display: flex;
    direction: rtl;
}

.image-container {
    width: 40%;
    /* Adjust the width of the image container */
    overflow: hidden;
    /* Ensure the image does not overflow */
    position: absolute;
    z-index: 1;
    right: 48.8%;

}

.vector_image {
    width: 100%;
    height: auto;
    display: block;

}

.logo_image {
    width: 40%;
    height: auto;
    display: block;

}

.logo-container {
    width: 20%;
    /* Adjust the width of the image container */
    overflow: hidden;
    /* Ensure the image does not overflow */
    position: absolute;
    top: 8%;
    right: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container p {
    margin: 0;
    color: #472F8D;
}

.data-container {
    width: 70%;
    height: 95%;
    background-color: white;
    border-radius: 20px 30px 0px 20px;
}

form {
    direction: ltr;
    width: 69%;
    margin-top: 60px;
    /* background-color: red; */
}

h2 {
    font-size: 2.3em;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.social-buttons {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1px 10px;
    padding-right: 20px;
    border: 1px solid;
    border-color: #AAA8A8;
    border-radius: 12px;
    background-color: transparent;
}

.social-btn p {
    color: #AAA8A8;
}

.social-btn:hover {
    background-color: #d5e1cb;
    border-color: transparent;
}

.center-container {
    display: flex;
    justify-content: center;
}

.space-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    /* margin-right: 20px; */
    margin-top: 10px;
}

.space-container hr {

    width: 20%;
    height: 0px;
    /* Set the width of the horizontal line to 100% */
    border: 1 solid #AAA8A8;

}

.space-container h3 {
    color: #AAA8A8;
}

.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user-container input {
    width: 70%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #AAA8A8;
    font-size: 16px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 0px;
}

.new-account-btn {
	box-shadow: 10px 10px 20px -15px #AAA8A8;
	background-color:#C4E0AC;
    border: none;
	border-radius:10px;
	padding:0px 10%;
    margin-top: 20px;
}

.new-account-btn h3{
    font-size: 22px;
    padding: 0;
    margin: 10px 0;
}

.new-account-btn:hover{
    background-color:#bbc9b0;
}

@media only screen and (max-width: 920px) {

    .container {
        direction: ltr;
        flex-direction: column;
        
    }

    .image-container {
        width: 100%;
        /* Ensure the image does not overflow */
        height: auto;
        overflow: visible;
        position: static;
        top: 0;
        right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .vector_image {
        width: 60%;
    }

    .logo-container {
        width: 40%;
        overflow: visible;
        /* Ensure the image does not overflow */
        position: static;
        top: 0;
        right: 0%;
        margin-top: 10px;
        margin-left: 10px;
    }

    .logo_image {
        width: 30%;
    
    }

    .data-container {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 30px;
        display: flex;
        justify-content: center;
    }

    form{
        margin-top: 0px;
        margin-bottom: 23px;
    }

    h2 {
        font-size: 1.5em;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
    }

    .social-btn {
        flex-direction: column;
        gap: 5px;
        padding: 20px 5px;
        padding-right: 5px;
        
    }

    .user-container input {
        width: 100%;
    }
    
}